@import url('main.css');

body {
  background-image: url("../assets/rosa-fundo-buque.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--branco);
  font-family: var(--fonte-texto);
}

section {
  margin-bottom: 4rem;
}


@media (max-width: 600px){
  body{
    background-image: url("../assets/rosa-fundo-buque-mobile.png");
    background-attachment: scroll;
  }
}
@media (max-width: 480px){
  body{
    background-image: url("../assets/rosa-fundo-buque-mobile.png");
    background-attachment: scroll;
  }
}

