@import url('main.css');

.botao__agendamento,
.botao__agendamento__2 {
  display: inline-block;
  text-decoration: none;
  color: var(--branco);
  background-image: url("/assets/Botao.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  font-weight: bold;
  font-family: var(--fonte-menu);
  text-align: center;
}

.botao__agendamento {
  width: 12.2rem;
  height: 4rem;
  line-height: 4rem;
  margin-right: 0;
}

.botao__agendamento__2 {
  width: 14rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.125rem;
  font-family: var(--fonte-texto);
  text-shadow: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.952);
  margin: 0;
  padding: 0;
}


@media (max-width: 1879px) {
  .botao__agendamento{
    width: 16rem;
  }
}

@media (max-width: 1042px){
  .botao__agendamento{
    width: 12rem;
  }
}

@media (max-width:1024px){
  .botao__agendamento{
    width: 9rem;
    height: 3rem;
    line-height: 3rem;
  }

  .botao__agendamento__2{
    width: 12rem;
    height: 4rem;
    font-size: 1rem;
    line-height: 4rem;
  }
}

@media (max-width: 320px) {
  .botao__agendamento__2{
    width: 8rem;
    height: 2rem;
    font-size: .8rem;
    text-align:center;
    line-height: 2rem;
  }
}