@import url("main.css");

.rodape {
  position: fixed;
  width: 100%;
}

.carrossel-politicas {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.carrossel-politicas h2 {
  font-family: var(--fonte-secundaria);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.swiper {
  padding: 2rem;
  border-radius: 36px;
  background-color: rgba(41, 0, 0, 0.68);
  width: 100%;
  max-width: 800px; /* ou o tamanho que você quiser */
  margin: auto;
}

.swiper-slide {
  font-family: var(--fonte-texto);
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 2rem; /* um espacinho bonito dentro do slide */
  box-sizing: border-box;
}

/* Deixa as setas e bolinhas visíveis no seu tema */
.swiper-button-next,
.swiper-button-prev {
  color: var(--branco);
}

.swiper-pagination-bullet {
  background: white;
}
