/* Hafontia Regular (Cooperative) */
@font-face {
  font-family: "Hafontia";
  src: url("../fonts/Cooperative/Cooperative-Regular.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Hafontia Bold */
@font-face {
  font-family: "Hafontia";
  src: url("../fonts/Cooperative/Cooperative-Regular.otf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* GlacialIndifference Regular */
@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/Glacial/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* GlacialIndifference Bold */
@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/Glacial/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* GlacialIndifference Italic */
@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/Glacial/GlacialIndifference-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Neue/NeueMachina-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Neue/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Neue/NeueMachina-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "Nevrada Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Nevrada/Nevrada_Neue.otf") format("opentype"),
    url("../fonts/Nevrada/Nevrada_Neue.ttf") format("truetype");
}

@font-face {
  font-family: "Tan Harmoni";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Tan-Harmoni/TanHarmoni-Regular.otf") format("opentype"),
  url("../fonts/Tan-Harmoni/TanHarmoni-Regular.ttf") format("truetype");
}
