@import url('main.css');

.cabecalho {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

.cabecalho img {
  width: 27em;
  margin: 1.3em 0 1.3em 0;
}

.menu__lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--fonte-menu);
  font-size: 0.9rem;
  font-weight: bold;
}

.menu__link {
  text-decoration: none;
  color: var(--branco);
}

.menu__link:hover{
  text-shadow: 0.125rem 0.125rem 0.313rem rgba(255, 255, 255, 0.692);
  border-bottom: solid var(--branco);
}