@import url(main.css);

body {
    background-image: url('../assets/rosa-fundo-buque.png'); /* caminho da imagem */
    background-size: cover; /* cobre a tela toda */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete a imagem */
    background-attachment: fixed;
}

.cabecalho{
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho img{
    width: 30em;
    margin: 1.3em;
}

.menu__lista {
    display: flex;
    flex-direction: row; /* opcional, row já é o padrão do flex */
    gap: 2rem; /* espaço entre os itens, ajusta como quiser */
    list-style: none; /* tira as bolinhas padrão do UL */
    padding: 0; /* tira espaçamento interno */
    margin: 0; /* tira margem externa */
  }
  