@import url('index.css');
@import url('fonts.css');

:root{
    --fonte-principal: "Tan Harmoni";
    --fonte-secundaria: "Nevrada Neue";
    --fonte-menu: "Neue Machina";
    --fonte-texto: 'GlacialIndifference';
    --fonte-titulo: 'Hafontia';
    --vermelho-fundo: #2d0000;
    --vermelho-destaque: #740118;
    --vermelho: #b80707;
    --preto: #000;
    --cinza:#545454; 
    --branco: #fff;
}