@import url("index.css");
@import url("fonts.css");
@import url("base.css");
@import url("header.css");
@import url("footer.css");
@import url("buttons.css");
@import url("rosas.css");
@import url("servicos.css");
@import url("comofunciona.css");
@import url("sobre.css");
@import url("agendamento.css");
@import url("depoimentos.css");
@import url("politicas.css");
@import url("perguntadodia.css");
@import url("cartadodia.css");
@import url("pagamento.css");

:root {
  --fonte-principal: "Tan Harmoni";
  --fonte-secundaria: "Nevrada Neue";
  --fonte-menu: "Neue Machina";
  --fonte-texto: "GlacialIndifference";
  --fonte-titulo: "Hafontia";
  --vermelho-fundo: #2d0000;
  --vermelho-destaque: #740118;
  --vermelho-escuro: #970000;
  --vermelho: #b80707;
  --preto: #000;
  --cinza: #545454;
  --branco: #fff;
}