@import url('main.css');

.rosa-decorativa {
  position: absolute;
  width: 230px; /* Ajuste conforme seu gosto */
  height: auto;
  z-index: 999;
  pointer-events: none; /* Para não atrapalhar cliques */
}

.rosa-top-right {
  top: 9rem;
  right: 2rem;
}

.rosa-bottom-left {
  bottom: -3rem;
  left: 4rem;
}

.rosa-top-right2 {
  top: 41rem;
  right: 2rem;
}

.rosa-bottom-left2 {
  bottom: -36rem;
  left: 4rem;
}
