@import url("main.css");

.titulo__servicos {
  font-family: var(--fonte-titulo);
  font-size: 29px;
  margin-bottom: 0;
}

.texto__servicos{
  font-family: var(--fonte-texto);
  font-size: 19px;
  text-align: center;
  padding: 0 8rem 2.3rem 6rem;
}

.cartas__servicos img {
  width: 20rem;
  height: 14rem;
}

.cartas__exclusivo {
  width: 40rem;
  height: 25rem;
  margin-left: 15rem;
}

.inicio {
  background-color: var(--vermelho-fundo);
  width: 80%;
  margin: 0 auto;
  font-family: var(--fonte-secundaria);
  color: var(--branco);
  text-align: center;
  font-size: 2rem;
  border-radius: 5rem;
  padding-bottom: 1.6rem;
}

.rosa-decorativa {
  position: absolute;
  width: 250px;
  height: auto;
  z-index: 999;
  pointer-events: none;
}

.rosa-top-right {
  top: 9rem;
  right: 2rem;
}

.rosa-bottom-left {
  bottom: -14rem;
  left: 4rem;
}

.rosa-top-right2 {
  top: 52rem;
  right: 2rem;
}

.rosa-bottom-left2 {
  bottom: -62rem;
  left: 4rem;
}

.rosa-top-right3 {
  top: 100rem;
  right: 2rem;
}

.rosa-bottom-left3 {
  bottom: -105rem;
  left: 4rem;
}
.rosa-top-right4 {
  top: 143rem;
  right: 2rem;
}

.rosa-bottom-left4 {
  bottom: -144rem;
  left: 4rem;
}
.rosa-top-right5 {
  top: 182rem;
  right: 2rem;
}

.rosa-bottom-left5 {
  bottom: -183.6rem;
  left: 4rem;
}
