@import url("main.css");

.sobre {
  display: flex;
  flex-direction: row;
  padding: 1rem; /* Adicione um pouco de padding interno para respiro */
  align-items: center; /* Alinha verticalmente os itens ao centro (opcional, mas pode ser útil) */
  justify-content: space-between; /* Distribui o espaço entre o texto e a imagem */
}

.texto {
  font-family: var(--fonte-texto);
  font-size: 1.125rem;
  width: 50%; /* Dê uma largura maior para o texto */
  text-align: left; /* Alinha o texto à esquerda */
  margin-left: 5rem;
  padding-bottom: 3rem;
  line-height: 1.9rem;
}

.texto h2 {
  font-size: 2.25rem;
  font-family: var(--fonte-secundaria);
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.842);
  margin-bottom: 2rem; /* Adicione um pouco de espaço abaixo do título */
  margin-top: 1rem;
}

.foto {
  width: 40%; /* Dê uma largura para a foto */
  display: flex; /* Para controlar o alinhamento da imagem dentro da div */
  justify-content: flex-end; /* Alinha a imagem à direita da div .foto */
  margin-right: 7rem;
  align-items: center;
}

.foto img {
  width: auto;
  height: auto; /* Deixe a altura se ajustar proporcionalmente */
  max-height: 25rem; /* Defina uma altura máxima */
  border-radius: 30px;
}